* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
/* Header */
header {
 font-size: 1.9em;
}
/* Header */
/* Main */
main {
    font-size: 1.8rem;
}
.homeSlide {
    filter: blur(1px) brightness(60%);

}
/* bookstore */
#accordionId {
    width: 600px;
    margin: 30px 0px;
}
#accordionId  img {
    object-fit: cover;
    width: 100px;
    height: 150px;
    margin: 10px;
}
#accordion > h1 {
    font-size: 1.6rem;
}
.source, .source li {
    display: inline-block;
}
#cart {
    overflow: auto;
    border: 2px solid black;
    height: 500px;
    width: 400px;
}
#cart img {
    object-fit: cover;
    width: 80px;
    height: 130px;
    margin: 10px;
}
#cart li {
    display: inline-block;
}
/* bookstore */

/* membership */

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
/* membership */

/* Main */


/* Global */
a {
    text-decoration: none;
}
.joinMembership {
    display: block;
    overflow: auto;
    background-color: rgb(0, 152, 253);
}
.joinMembershipActive{
    display: none;
}
/* Global */